@using Humanizer
@model ReviewsWebApp.Models.ReviewsViewModel

@{
    ViewBag.Title = "Reviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@helper GetPreviousLink()
{
    if (Model.IsPreviousPageEnabled)
    {
        <a class="pagination-previous" href="@Url.Action("index", routeValues: new {pageNumber = Model.PageNumber - 1})">Previous</a>
    }
    else
    {
        <a class="pagination-previous" title="This is the @Model.PageNumber.ToOrdinalWords() page" disabled>Previous</a>
    }
}

@helper GetNextLink()
{
    if (Model.IsNextPageEnabled)
    {
        <a class="pagination-next" href="@Url.Action("index", routeValues: new {pageNumber = Model.PageNumber + 1})">Next page</a>
    }
    else
    {
        <a class="pagination-next" title="This is the @Model.PageNumber.ToOrdinalWords() page" disabled>Next page</a>
    }
}

@helper GetPageNumberLinks()
{
    for (int pageNumber = 1; pageNumber <= Model.PageCount; pageNumber++)
    {
        if (pageNumber == Model.PageNumber)
        {
            <li>
                <a class="pagination-link is-current" aria-label="Page @pageNumber" aria-current="page">@pageNumber</a>
            </li>
        }
        else
        {
            <li>
                <a class="pagination-link" aria-label="Goto page @pageNumber" href="@Url.Action("index", routeValues: new {pageNumber})">@pageNumber</a>
            </li>
        }
    }
}

<div class="columns">
    <div class="column">
        <section class="section">
            <h4 class="title is-4">Reviews</h4>
            @Html.Partial("_ReviewCard", Model)
        </section>

        <section class="section">
            <nav class="pagination" role="navigation" aria-label="pagination">
                @GetPreviousLink()
                @GetNextLink()
                <ul class="pagination-list">
                    @GetPageNumberLinks()
                </ul>
            </nav>
        </section>
    </div>
</div>